body {
    background-color: #E0F6FF;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p {
    margin: 0 0 2% 0;
}

h4 {
    text-align: center;
    color: white;
}

img {
    width: 100%;
    height: auto;

}

#header {
    background-color: #113063;
    display:flex;
    padding:2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 4px;
    height: 10vh;
}

    .menu-button{
        display: flex;
        background-color: #90c1d1;
        border-radius: 20px;
        height: 6vh; 
        width: 8vw;
        margin: 1vw;
        padding: 1vw;
        align-items: center;
        transition: background-color 0.3s ease;
    }

    .menu-button:hover {
        background-color: #e0b922; 
    }

#start {
    display: flex;
    background-color: rgba(89, 165, 42, 0);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding: 2vw;
}
    .eigen-verhaal{
        height: 60vh;
        width: 45vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 2%;
        border-radius: 50px;
    }

    .eigen-foto{
        height: 60vh;
        width: 30vw;
        background-color: #113063;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
    }

#inhoud {
    display: flex;
    background-color: #113063;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2.2vw;
}
    .drie-blokken{
        height: 45vh;
        width: 30vw;
        background-color: #E0F6FF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }
#leaflet { 
    height: 95%; 
    width:95%;
    }

#maplibre { 
    height: 95%; 
    width:95%;
    }

#inhoudtwee {
     display: flex;
     background-color: rgba(73, 121, 114, 0);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2.2vw;
}

    .grote-vlak{
        height: 45vh;
        width: 60vw;
        background-color: #90c1d1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }
    .kleine-vlak{
        height: 45vh;
        width: 32vw;
        background-color: #e0b922;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }

    #contact {
    display:flex;
    background-color: #e0b922;
    height: 15vh;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    clip-path: polygon(0 50%, 10% 60%, 20% 50%, 30% 60%, 40% 50%, 50% 60%, 60% 50%, 70% 60%, 80% 50%, 90% 60%, 100% 50%, 100% 100%, 0 100%);
}

