body {
    background-color: #E0F6FF;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p {
    margin: 0 0 2% 0;
    font-family: loos-normal, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: white;
    font-size: 1.1vw;
}

.black-text {
    color: black;
}

h2, h3, h4{
    font-family: acier-bat-solid, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #113063;
}

h1{
    color: white;
    font-family: acier-bat-solid, sans-serif;
    font-style: normal;
    font-weight: 100;
}

h2{
    font-size: 1.7vw;
}

h3{
    text-align:center;
    color:#113063;
    font-size: 40px;
}

h4 {
    text-align: center;
    color: white;
}

img {
    width: 100%;
    height: auto;

}

.section-divider {
    width: 3vw;
    height: 0.5vh;
    background-color: #007bff;
    margin: 10px auto;
    border-radius: 2px;
}

#header {
    background-color: #113063;
    display:flex;
    padding:2px;
    height: 10vh;
    position: fixed;
    align-items: center;
    z-index: 1000;
    width: 100%;
    justify-content: space-between;
}

.menu-logo{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.menu-logo img {
    max-height: 50%; 
    width: auto;
    object-fit: contain;
}

#button-container{
    justify-content: flex-end;
    display: flex;
    margin-right: 1.3vw;

}

    .menu-button{
        display: flex;
        background-color: #90c1d1;
        border-radius: 20px;
        height: 6vh; 
        width: max-content;
        margin: 0.7vw;
        padding: 1vw;
        align-items: center;
        transition: background-color 0.3s ease;
    }

    .menu-button:hover {
        background-color: #e0b922; 
    }

#start {
    display: flex;
    background-color: rgba(89, 165, 42, 0);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding: 2vw;
    padding-top: 14vh;
}
    .eigen-verhaal{
        height: 60vh;
        width: 45vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 2%;
        border-radius: 50px;
    }

    .eigen-foto{
        height: 60vh;
        width: 30vw;
        background-color: #113063;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
    }

#inhoud {
    display: flex;
    background-color: #113063;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2.2vw;
    margin-top: 2.2vw;
    margin-bottom: 2.2vw;

}
    .drie-blokken{
        height: 45vh;
        width: 30vw;
        background-color: #E0F6FF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }

    .drie-blokken2{
        height: 45vh;
        width: 30vw;
        background-color: #E0F6FF;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        border-radius: 30px;
    }

    .drie-blokken3{
        height: 45vh;
        width: 30vw;
        background-color: #E0F6FF;
        border-radius: 30px;
        padding: 1.7vw;
        text-align: center;
    }

#leaflet { 
    height: 95%; 
    width:95%;
    }

#maplibre { 
    height: 95%; 
    width:95%;
    }

#inhoudtwee {
    display: flex;
    background-color: rgba(73, 121, 114, 0);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2.2vw;
}

    .grote-vlak{
        height: 45vh;
        width: 60vw;
        background-color: #90c1d1;
        border-radius: 40px;
        column-count: 2;  
        column-gap: 20px; 
        Padding: 3vh;

    }
    .kleine-vlak{
        height: 45vh;
        width: 32vw;
        background-color: #e0b922;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        overflow: hidden;
        position: relative;
    }

    #contact {
    display:flex;
    background-color: #e0b922;
    height: 15vh;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
}

